---
layout: default
permalink: /
kind: index
---

<main>
<div class="section banner">
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="header center-on-small-only">Taller UNC</h1>
      <h4 class="light teal-text text-lighten-5 center-on-small-only" id="tagline">{{ site.description | strip_newlines }}</h4>
    </div>
  </div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="section col s12">
    <div class="row">
      <div class="col s12">
        <h2 class="header truncate">Presentaciones</h2>
        <ul class="collapsible" data-collapsible="expandable">
          {% for post in site.posts | sort: 'date' %}
          <li>
            <div class="collapsible-header active">
              <a href="{{ post.url }}">{{ post.title }}</a>
              <a href="/pdf/{{ post.categories | join: '-' }}/{{ post.date | date: '%Y-%m-%d' }}-{{ post.slug }}.pdf" class="right hide-on-small-only">PDF</a>
            </div>
            <div class="collapsible-body">
              <p><b>{{ post.date | date_to_string | replace: 'Jan', 'Ene' | replace: 'Apr', 'Abr' | replace: 'Aug', 'Ago' | replace: 'Sep', 'Set' | replace: 'Dec', 'Dic' }}</b>&nbsp;&nbsp;{{ post.description | strip_newlines }}</p>
            </div>
          </li>
          {% else %}
          <li>
            <div class="collapsible-header">
              Aún no hay presentaciones.
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h2 class="header">Herramientas usadas</h2>
        <p>Durante el taller he usado (y seguiré usando) varias herramientas
          de disponibilidad pública, las que incluyen sitios web, lenguajes
          de programación, programas, frameworks, revistas, entre otros:</p>
        {% assign tools = site.data.tools %}
        {% for topic in tools.toc %}
        <h4>{{ topic[1] }}</h4>
        <ul class="collapsible" data-collapsible="expandable">
          {% for item in tools[topic.first] %}
          <li>
            <div class="collapsible-header active">
              <a href="{{ item.link }}">{{ item.name }}</a>
            </div>
            <div class="collapsible-body">
              <p>{{ item.desc | smartify }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h2 class="header">Licencia</h2>
        <p>MIT: <i>Eres libre para usar este código como desees, mientras
          indiques que tiene licencia MIT</i>.</p>
      </div>
    </div>
  </div>
</div>
</div>
</main>

<footer class="page-footer">
<div class="container">
  <div class="row">
    {% for item in site.data.footer %}
    <div class="col l4 s12">
      <h5 class="white-text">{{ item.title }}</h5>
      <p class="grey-text text-lighten-4">
        {{ item.content | liquidify | markdownify | strip_newlines | replace: '<p>', '' | replace: '</p>', '' }}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
<div class="footer-copyright">
<div class="container">
  © 2015 - 2016 Bryan Horna. Todos los derechos reservados.
  <a class="grey-text text-lighten-3 right" target="_blank"
    href="{{ site.github.repository_url }}/blob/gh-pages/LICENSE">
    Licencia MIT</a>
</div>
</div>
</footer>
