<head>
  <meta charset="utf-8">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
  {% if is_presentation %}
  <link rel="stylesheet" href="{{ cdn.reveal }}/css/reveal.min.css">
  <link rel="stylesheet" href="{{ cdn.reveal }}/css/theme/black.min.css" id="theme">
  <link rel="stylesheet" href="{{ cdn.reveal }}/lib/css/zenburn.min.css">
  <!--[if lte IE 9]>
  <script src="{{ cdn.reveal }}/lib/js/html5shiv.min.js"></script>
  <![endif]-->
  {% else %}
  <link rel="stylesheet" href="{{ cdn.materialize }}/css/materialize.min.css">
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  {% seo title=false %}
</head>
